* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #fff;
    background: url('Space-Background-Images.jpg') no-repeat center center/cover;
}

.header__body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.25rem 6.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.navigation a {
    position : relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    margin-left: 2.5rem;
    font-weight: 500;
}

.navigation a::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -0.375rem;
    height: 0.188rem;
    background: #fff;
    border-radius: 0.313rem; 
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s;
}

.navigation a:hover:after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLogin-popup {
    width: 8.125rem;
    height: 3.125rem;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 2.5rem;
    transition: all 0.3s ease;
}

.navigation .btnLogin-popup:hover {
    background: #fff;
    color: #162938;
}

button {
    cursor: pointer;
  }

.wrapper {
    position: relative;
    width: 25rem;
    height: 27.5;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 1.25rem;
    backdrop-filter: blur(1.25rem);
    box-shadow: 0 0 30px rgb(36, 36, 36, .5);
    display: flex;
    justify-content: center;
    align-items: center;
     overflow: hidden;
    /* transform: scale(0);
    transition: transform .5s, height 0.2s ease; */
    margin-top: 3.125rem; 
}

.wrapper .close {
    position: absolute;
    top: 0;
    right: 0;
    width: 2.813rem;
    height: 2.813rem;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    border: 1px solid rgba(255, 255, 255, .5);
    border-radius: 0 1.125rem 0 1.25rem;
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(25rem);
}

.wrapper .form-box.login {
    transition: transform 0.18s ease;
    transform: translateX(0);
}

.form-box h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 3.125rem;
    border-bottom: 0.125rem solid #fff;
    margin: 1.875rem 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 0.313rem;
    color: #fff;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
    font-weight: 500;
}

.input-box input:focus + label,
.input-box input:valid + label {
    top: -0.313rem;
    left: 0.313rem;
    color: #fff;
    font-size: 0.8em;
}

.input-box input {
    width : 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1em;
    font-weight: 600;
    padding: 0 2.188rem 0 0.313rem; 
}

.input-box .icon {
    position: absolute;
    right : 0.5rem;
    font-size: 1.2em;
    color: #fff;
    line-height: 3.563rem;
}

.login-register {
    font-size: .9em;
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin: 1.563rem 0 0.625rem;
}

.login-register p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}

.error {
    color: #ff4c4c;
    font-size: 0.875rem;
    display: none;
    margin-top: 0.625rem;
}

.success {
    color: #00ff00;
    font-size: 0.875rem;
    display: none;
    margin-top: 0.625rem;
}

.errorRegister {
    color: #ff4c4c;
    font-size: 0.875rem;
    display: none;
    margin-top: 0.625rem;
}

.successRegister {
    color: #00ff00;
    font-size: 0.875rem;
    display: none;
    margin-top: 0.625rem;
}

.remember-forgot {
    font-size: .9em;
    color: #fff;
    font-weight: 500;
    margin: -0.938rem 0 0.938rem;
    justify-content: space-between;
    display: flex;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 0.188rem;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 2.813rem;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 6%;
    cursor: pointer;
    font-size: 1em;
    color: #162938;
    font-weight: 500;
}

